div
  div.row-fluid
    div.span6
      div.pd-box
        form.form-horizontal
          legend Log In
          fieldset
            p
              input.span12(type='text', ng-model='username', placeholder='Username')
            p
              input.span9(type='password', ng-model='password', placeholder='Password') 
              button.btn.btn-primary.span3.pull-right(type='button', ng-click='login()') Log In
          legend
          fieldset
            p
              button.btn.span12(ng-click='loginWithGoogle()') Log In With Google
      div.pd-box
        form.form-horizontal
          legend Sign Up!
          fieldset
            p
              button.btn.span12(ng-click='register()') Sign Up!
