div.notification-area(ng-controller='NotificationCtrl')
  div.alert(ng-repeat='msg in messages()', ng-class='classMap[msg.type]', ng-animate="'fade'")
    button.close(ng-click='remove(msg)')&times;
    {{msg.text}}