div.container-fluid
  div.row-fluid
    // include div.span3 userPanel
    include userPanel
    div.span9
      div.row-fluid(ng-repeat='task in tasks')
        div.span12.task-box
          div
            h2 
              a(ng-href='/tasks/{{task._id}}') {{task.name}}
            p {{task.notes}}
          div.row-fluid
            div.span8
            div.span4
              div.pull-right.btn-toolbar
                div.btn-group
                  //button.btn(ng-repeat='x in [1,2,4,8,20]') {{x}}
                  button.btn 1
                  button.btn 2
                  button.btn 4
                  button.btn 8
                  button.btn 20