div.row-fluid(ng-repeat='task in tasks | orderBy:\'+status\'')
  div.span12.task-box(ng-class='\'pd-\'+task.status')
    button.close(ng-click='deleteTask(task)') &times;
    h2 
      a(ng-href='/tasks/{{task._id}}') {{task.name}}
      small  [{{task.status}}]
    p 
      button.btn-link(ng-click='createTaskEvent(task)') I have {{task.notes}}