div.span3.sb-fixed(ng-controller='UserPanelCtrl')
  //div.pd-box
    div.text-center
      img(ng-src='/img/user.png')
      h4 Robbie Gill
      p.muted last vist: yesterday
      legend
    div.text-center
      canvas#statusCanvas(width='150', height='150') 