#don't check in app secrets...defaults in config.json.example
config.json

# editor project files
.idea
*.sublime-workspace
*.sublime-project

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# node
node_modules

# ssl
*.pem