div.navbar.navbar-fixed-top.navbar-inverse
  div.navbar-inner
    div.container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")
        | ha-bu-su
      div.nav-collapse.collapse
        ul.nav(bootstrap-nav, ng-controller='NavCtrl')
          li(data-nav-path='/')
            a(href='/')
              | Home
          li(data-nav-path='/tasks')
            a(href='/tasks')
              | Tasks
          li(data-nav-path='/createTask')
            a(href='/createTask')
              | Create
          li(data-nav-path='/logout')
            a(ng-click='logout()')
              | Logout