!!!
html(ng-app='pd')
  head
    block head
      title= title
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/css/style.css')
  body
    include header

    block content

    include footer